@model ViewModelForCreateRss

<div class="RssView">
    <form asp-action="Create" method="post">
        <label asp-for="RssName">Rss Истоник</label>
        <input type="text" name="rssname" />
        <input type="submit" value="Create" />
    </form>
</div>

