<!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Настроки админа
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" asp-action="AddRole" asp-controller="Role">Добавить роль</a></li>
        <li><a class="dropdown-item" asp-action="Create" asp-controller="RssSources">Добавить RSS</a></li>
        <li><a class="dropdown-item" asp-action="Delete" asp-controller="RssSources">Удалить Rss</a></li>
        <li>
            <div class="dropdown-item">
                <form asp-action="GetNewsFromRss" asp-controller="News" method="post" asp-antiforgery="true">
                    <input type="submit" value="Загрузить новые новости">
                </form>
            </div> 
        </li>
        <li><hr class="dropdown-divider"></li>
    </ul>
</div>