@model ViewModelForDetailsNews

<div>
    <div class="container castom">
        <ul class="media-list">
            <!-- Первый медиа-объект -->
            <li class="media">

                <div class="media-body">
                    <a href=@Model.NewsURL
                       title="??">
                        <h4 class="media-heading">@Model.Heading</h4>
                    </a>
                </div>

                <div class="media-left">
                    <img src="@Model.Img" alt="Фото из архива" title="Фото из архива">
                </div>

                <div id="current_date_time_block" class="time">
                    @Model.DateTime
                </div>

                <div class="media-body">
                    <span class="lenta_textsmall">
                        @Model.Content
                    </span>
                </div>

                <div>
                    <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Все коментарии
                        </button>
                    </p>

                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
                        </div> 
                    </div>
                </div>

            </li>
        </ul>

    </div>
</div>